# Project output
bin/
/jpeg-turbod
jpeg-turbod.so
jpeg-turbod.dylib
jpeg-turbod.dll
jpeg-turbod.a
jpeg-turbod.lib
jpeg-turbod-test-*

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# JetBrains
/.idea
*.iml

# Visual Studio
/.vs
